@import '/src/globalStyles/variables.scss';

//@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
// Variables
//$text-color: $gray-dark; // default text color #333
//$link-color: #3786c2;
//$link-color-hover: #265d86;

$break-point: 1309px;
$icon-padding: 10px;
$container-padding: 10px;

.proms .questionnaire-title {
    color: $text-color;
    font-size: 18px;
    margin-bottom: 2 * $container-padding;
    margin-top: $container-padding;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.proms .proms-container {
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: $container-padding;
    //margin: 12px auto 12px 0;
    //margin-top: 12px;
    margin-bottom: 25px;

    //width: 90%;
}

.proms .proms-container-small {
    max-width: 300px;
    min-width: 300px;
    @extend .proms-container;
}

.proms .proms-container-large {
    max-width: 1140px; //1140
    min-width: 795px; //795
    margin-right: auto;
    /* overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin; */
    @extend .proms-container;
}

.proms .proms-container-large::-webkit-scrollbar {
    height: 8px;
}

.proms .proms-container-large::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}

.proms .proms-container-large::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.proms .flex-width-container {
    flex-grow: 1; /* Allow the heading to take available space */
    //padding-left: $icon-padding;
}

@mixin container-icon-padding($pad-left: 0, $pad-right: 0) {
    padding-left: $pad-left;
    padding-right: $pad-right;
}

.proms .chart-heading-container {
    display: flex;
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Space out the heading and icon */
    width: 100%; /* Ensure it spans the full width */
}

.proms .chart-heading-container-left {
    @include container-icon-padding($pad-right: $icon-padding);
    @extend .chart-heading-container;
}

.proms .chart-heading-container-center {
    @include container-icon-padding(
        $pad-left: $icon-padding,
        $pad-right: $icon-padding
    );
    @extend .chart-heading-container;
}

.proms .chart-heading {
    color: $text-color;
    font-size: 18px;
    margin-top: 0.5 * $container-padding;
    margin-bottom: $container-padding;
    font-family: inherit;
}

.proms .chart-heading__capitalLettersCentered {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    @extend .chart-heading;
}

.proms .icon-wrapper {
    display: flex;
    justify-content: flex-end; /* Ensure icon stays on the right */
    //padding: 0.5rem; /* Example: padding around the icon */
    //padding-right: $icon-padding;
    margin-top: 0.5 * $container-padding;
    margin-bottom: $container-padding;
}

.proms .icon-wrapper-no-bot-margin {
    margin-bottom: 0;
    @extend .icon-wrapper;
}

.proms .icon-wrapper .fa,
.proms .icon-wrapper-no-bot-margin .fa {
    font-size: inherit; //16px; /* Icon size */
    //color:$link-color;
    cursor: pointer;
}

/* Hover effect for the icon */
/* .proms .icon-wrapper .fa:hover {
  color: $link-hover-color;
} */

.proms .row.prom-grid {
    clear: both;
    *zoom: 1;
}
.proms .row.prom-grid:before,
.proms .row.prom-grid:after {
    content: ' ';
    display: table;
}
.proms .row.prom-grid:after {
    clear: both;
}

@media (max-width: $break-point) {
    .proms .row.prom-grid div[class*='col-md-12'] {
        width: 100%;
        float: none;
        margin-left: 0;
    }
}
@media (min-width: calc($break-point + 1px)) {
    .proms .row.prom-grid div[class*='col-lg-3'] {
        width: 25%;
        float: left;
    }
    .proms .row.prom-grid div[class*='col-lg-9'] {
        width: 75%;
        float: left;
    }
}

.proms .button-margin {
    margin-bottom: 40px;
    margin-top: 40px;
}
