.bg_comparisonEqual {
    background-color: rgb(246, 162, 46) !important;
}
.bg_comparisonGene {
    background-color: rgb(202, 237, 93) !important;
}
.bg_comparisonPathway {
    background-color: rgb(121, 214, 255) !important;
}
.bg_comparisonPhgvs {
    background-color: #aa65b8 !important;
}
.bg_comparisonUnequal {
    background-color: rgb(249, 249, 249) !important;
}
.MutationSimilarityTable tbody tr:nth-of-type(odd) {
    filter: brightness(110%);
}
.MutationSimilarityTable tbody td {
    text-align: right;
}
